<!DOCTYPE html>
<html>
<head>
  <title>Podu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header class = "cf" id = "main-header">
        <div class = "wrapper-wide">
            <a href = "index.html" id="logo"> Podu</a>
        <nav>
            <ul class = "nav_ban">
                <li><a href= "podcasts.html"> Explore</a></li>
                <li><a href= "sign_in.html"> Sign In</a></li>
                <li><a href= "sign_up.html"> Create a Podcast </a></li>
            </ul>
        </nav> 
        </div>
    </header>
    
    <div id = "podcast_show"> 
        <div id = "show_banner">
        <div class = "wrapper_skinny"> 
            <h1> The Tech Bytes Dashboard </h1>
        </div>
        </div>
    
        <div id = "links"> 
            <div class = "wrapper_skinny">
               <ul> 
               <li class="current"> Episodes</li>
               <li> <a href = "#">New Episode</a></li>
                <li> <a href = "#"> View Episode </a></li>
               <li> <a href = "#">Account Settings </a></li>

               </ul> 
            </div>
        </div>
        
        <div id = "episodes">
            <div class = "wrapper_skinny">
                <ul class = "cf">
                    <li class = "cf">
                        <div class = "episode_thumbnail">
                            <a href = "episode.html">
                                <img src= "https://images.pexels.com/photos/227294/pexels-photo-227294.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt= "Picture of Girl">
                            </a>
                        </div>
                        <div class = "episode_overview">
                            <h2> <a href = "#"> How to learn Ruby
                            </a></h2>
                            <p class="description"> dwfjkwensfioneafkwknfioqlniowa;rbnd;FO</p>
                            <div class = "authorized_links"> 
                            <a href = "#"> Edit </a>
                            a href = "#"> Delete </a>
                            </div>
                        </div>
                    </li>
                    
                    <li class = "cf">
                        <div class = "episode_thumbnail">
                            <a href = "episode.html">
                                <img src= "https://images.pexels.com/photos/227294/pexels-photo-227294.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt= "Picture of Girl">
                            </a>
                        </div>
                        <div class = "episode_overview">
                            <h2> <a href = "episode.html"> How to learn Ruby
                            </a></h2>
                            <p class="description"> dwfjkwensfioneafkwknfioqlniowa;rbnd;FO</p>
                               <div class = "authorized_links"> 
                            <a href = "#"> Edit </a>
                            a href = "#"> Delete </a>
                            </div>
                        </div>
                    </li>
                    
                    
                    <li class = "cf">
                        <div class = "episode_thumbnail">
                            <a href = "episode.html">
                                <img src= "https://images.pexels.com/photos/227294/pexels-photo-227294.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt= "Picture of Girl">
                            </a>
                        </div>
                        <div class = "episode_overview">
                            <h2> <a href = "episode.html"> How to learn Ruby
                            </a></h2>
                            <p class="description"> dwfjkwensfioneafkwknfioqlniowa;rbnd;FO</p>
                               <div class = "authorized_links"> 
                            <a href = "#"> Edit </a>
                            a href = "#"> Delete </a>
                            </div>
                        </div>
                    </li>
                    
                    <li class = "cf">
                        <div class = "episode_thumbnail">
                            <a href = "episode.html">
                                <img src= "https://images.pexels.com/photos/227294/pexels-photo-227294.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt= "Picture of Girl">
                            </a>
                        </div>
                        <div class = "episode_overview">
                            <h2> <a href = "episode.html"> How to learn Ruby
                            </a></h2>
                            <p class="description"> dwfjkwensfioneafkwknfioqlniowa;rbnd;FO</p>
                               <div class = "authorized_links"> 
                            <a href = "#"> Edit </a>
                            a href = "#"> Delete </a>
                            </div>
                        </div>
                    </li>
                    
                    <li class = "cf">
                        <div class = "episode_thumbnail">
                            <a href = "episode.html">
                                <img src= "https://images.pexels.com/photos/227294/pexels-photo-227294.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt= "Picture of Girl">
                            </a>
                        </div>
                        <div class = "episode_overview">
                            <h2> <a href = "episode.html"> How to learn Ruby
                            </a></h2>
                            <p class="description"> dwfjkwensfioneafkwknfioqlniowa;rbnd;FO</p>
                               <div class = "authorized_links"> 
                            <a href = "#"> Edit </a>
                            a href = "#"> Delete </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
        <div class = "pagination">
        <span class = "previous_page disabled"> Previous </span>
        <em class= "current"> 1 </em>
        <a href="#"> 2 </a>
        <a class = "next_page" href="#">Next </a>
    </div>
    
</body>
</html>
    